# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# CSV and data dumps (if sensitive or large)
*.csv

# SonarQube
.sonar/
